* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.layout {
  width: 1000px;
  margin: 0 auto;
}
body {
  font: 14px/1.5 Arial;
  background-color: #eee;
  color: #444;
}
section {
  margin-top: 30px;
  text-align: center;
  padding: 150px 0;
}
section > h2 {
  text-align: center;
  font-size: 40px;
  }
  
  section  p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.75;
  margin: 0 0 10px;
  }